{% extends 'Template.html.twig' %}


{% block body%}


<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (pages header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Matériels</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Matériel</a></li>
              <li class="breadcrumb-item active">Ajout</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
        <!-- /.content-header -->
    <section class="content">
    	<div class="container-fluid">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Ajout d'un matériel</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                  {{ form_start(form) }}
                  <div class="card-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Désignation :</label>
                      <input type="text" id="form_designation" name="form[designation]" class="form-control" placeholder="Saisir  Désignation">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Quantité :</label>
                      <input type="text" id="form_quantite" name="form[quantite]" class="form-control" placeholder="Saisir  Quantité">
                    </div>
                  <div class="card-footer">
                    <input type="reset" value="Annuler" class="btn btn-danger">
                    <input type="submit" value="Valider" name="form[save]" class="btn btn-primary float-right">
                    <input type="hidden" name="form[_token]" value="{{ form._token.vars.value }}" />
                  </div>
                    {{ form_start(form) }}
              </div>
            </div>
    	</div>
          </div>
          <div class="col-md-1"></div>
        </div>
    </section>
  <!-- /.content-wrapper -->

{%endblock%}


